body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  .city-grid {
    display: grid; /* -----------> Change the opsition of image to left and change display view <----------- */
    grid-gap: 30px;
    width: 85%;
    margin: 3% auto;
  }

  .city-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 33vh;
  }

  .city-image {
    width: 40%;
    height: 33vh;
    overflow: hidden;
  }

  .city-details {
    flex: 1;
    padding: 15px;
  }

  .city-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #666565;
  }

  .city-country {
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 0.6;
  }

  .city-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .city-description {
    color: #2f2828;
  }

  /* For large screens */
  @media (min-width: 930px) {
    .city-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* For mobile screens */
  @media (max-width: 929px) {
    .city-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 1200px) {
    .city-description {
      font-size: 17px;
    }
    .title{
      width: 85%;
      margin: 3% auto;
      font-size: 69px;
      font-weight: bold;
    }
  }
  
  @media (max-width: 1199px) {
    .city-description {
      font-size: 12px;
    }
    .title{
      width: 85%;
      margin: 3% auto;
      font-size: 36px;
      font-weight: bold;
    }
  }

